{% extends 'base.html.twig' %}

{% block title %}Weapon details{% endblock %}

{% block body %}
    <h1>{{ weapon.name }}</h1>

    {% dump weapon %}

    <table class$"table">
        <tbody>
            <tr>
                <th>Rarety</th>
                <td>{{ weapon.rarety}}</td>
            </tr>
            <tr>
                <th>From</th>
                <td>{{ weapon.wardrobe }}</th>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wardrobe_show', {'id' : weapon.wardrobe.id})}}">back to list</a>
            
{% endblock %}
