{% extends 'base.html.twig' %}

{% block title %}Wardrobe details{% endblock %}
{% block body %}
      <h1>Wardrobe</h1>

         {% dump wardrobe %}

      <table class="table">
          <tbody>
              <tr>
                  <th>Wardrobe's name</th>
                  <td>{{ wardrobe.name }}</td>
              </tr>
              <tr>
                    <th>Description</th>
                    <td>{{ wardrobe.description}}
              </tr>
              <tr>
                  <th>Owner</th>
                  <td>{{ wardrobe.owner }}</td>
              </tr>
          </tbody>
      </table>

      <a href="{{ path('wardrobe_index') }}">back to list</a>

  {% endblock %} {# body #}