{% extends 'base.html.twig' %}

{% block title %}New Skin{% endblock %}

{% block body %}
    <h1>Add new Skin</h1>

    {{ include('skin/_form.html.twig') }}

    <a href="{{ path('app_member_index') }}">return</a>
{% endblock %}
