{% extends 'base.html.twig' %}

{% block title %}Showcase{% endblock %}

{% block body %}
    <h1>Weapons</h1>

    <table class="table">
        <tbody>
            <tr>
            <th>Rarety</th>
            <td>{{ weapon.rarety }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ weapon.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ weapon.name }}<td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_showcase_show', { 'id': showcase.id}) }}">back to showcase</a>

{% endblock %}