{# source: https://stackoverflow.com/a/65082524/1814910 #}
<ul>
    {% for weapon in field.value %}
      {%- set url = ea_url()
        .setController('App\\Controller\\Admin\\WeaponCrudController')
        .setAction('detail')
        .setEntityId(weapon.id)
      -%}
      <li>
          <a href="{{ url }}">
            {{ weapon }}
          </a>
      </li>
    {% else %}
    </ul>  
      <span class="badge badge-secondary">None</span>
      <ul>
    {% endfor %}
      </ul>
    